<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert New Contact</title>
</head>
<body>

<form th:object="${newContact}" th:action="@{/update/{id}(id=${newContact.id})}" method=POST>

	Name: <input name="name" size="20" th:field="*{name}"> <br />
	Relationship: <input name="relationship" size="10" th:field="*{relationship}"><br />
	Phone Number: <input name="phone" size="20" th:field="*{phone}"><br />
	Street: <input name="address.street" size="20" th:field="*{address.street}"><br />
	City: <input name="address.city" size="20" th:field="*{address.city}"><br />
	State:<input name="address.state" size="20" th:field="*{address.state}"><br />
	<input name="submit" type="submit" value="submit" />
	
</form>
<a href="viewAll">View all Contacts</a>

</body>
</html>